amqp==5.2.0
asgiref==3.8.1
bcrypt==4.2.0
billiard==4.2.1
black==24.10.0
celery==5.4.0
cffi==1.17.1
channels==4.1.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
coloredlogs==15.0.1
colorlog==6.8.2
cryptography==43.0.1
Django==5.1.1
django-appconf==1.0.6
django-cryptography-django5==2.2
django-filter==24.3
django-jazzmin==3.0.1
djangorestframework==3.15.2
djangorestframework-jwt==1.11.0
gunicorn==23.0.0
humanfriendly==10.0
kombu==5.4.2
Markdown==3.7
mypy-extensions==1.0.0
ordered-set==4.1.0
packaging==24.1
pathspec==0.12.1
platformdirs==4.3.6
prompt_toolkit==3.0.48
psycopg2-binary==2.9.10
pycparser==2.22
Pygments==2.18.0
PyJWT==1.7.1
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
PyYAML==6.0.2
six==1.16.0
sqlparse==0.5.1
tzdata==2024.2
ua-parser==0.18.0
uritemplate==4.1.1
vine==5.1.0
wcwidth==0.2.13
whitenoise==6.7.0
